@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --primary-text-color: #2970FE;
    --secondary-text-color: #CBD2E1;
    --accent-color: #334155;
    --accent-color-dark: #141414;
    --padding-inline-section: 20px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background: #F1F5F9;
    background-size: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

.title {
    font-weight: 600;
}

p {
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline;
    text-align: center;
}

/* Utility classes */


.small-bold-text {
    font-size: 1rem;
    font-weight: 500;
}

.container {
    max-width: 1480px;
    margin-inline: auto;
    padding: 6px 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.gap {
    gap: 8px;
}

.btn {
    border-radius: 12px;
    padding: 5px 15px;
    color: var(--primary-text-color);
    border: 1px solid #CBD2E1;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #CBD2E1;
    /* cursor: pointer; */
}


.btn:hover {
    color: #3169d9;
    border: 1px solid #abb4c6;
}


/* Animation */
.hover-underline-animation {
    color: var(--accent-color-dark);
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-text-color);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* nav section */
.nav {
    height: 60px;
    width: 98vw;
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: sticky;
    z-index: 2;
    top: 0;
    background-color: rgba(235, 241, 255, 0.75);
    backdrop-filter: blur(10px);
}

.main-nav {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.logo>h4 {
    color: var(--accent-color-dark);
}

.nav-links {
    gap: 20px;
}

/* header-left */

.top-img {
    position: absolute;
    top: 18%;
    right: 3%;
}

/* Hero */
.hero-section>.container {
    display: flex;
    height: 1024px;
    padding: 0px 120px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    background: #F1F5F9;
    /* background: #58acff; */
}

.hero {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

}

.hero>div>h1 {
    font-size: 4.25rem;
    color: var(--primary-text-color);
    font-weight: 600;
    line-height: 4rem;
    letter-spacing: -1.8px;

}

.hero>div>h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--accent-color);
}

.hero>div>h3 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-text-color);
}

.hero>div>a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.hero>div>h3>span {
    font-weight: 600;
}

.hero>div>img {
    height: 40px;
    border-radius: 100%;
    /* outline: 4px solid #F1F5F9; */
}

.creators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

/* Fotter */
.footer {
    width: 98vw;
    height: 100px;
}

.footer>a {
    color: var(--accent-color-dark) !important;
}

.footer>.container {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
